#body{
  font-family: "Times New Roman";
}


.new{
  margin-top: 20px;
  margin-bottom: 20px;
}

.ui.right.aligned.search{
  margin-left: 20px;
}

.newmenu{
  box-shadow: none;
  border:none;
  margin-bottom: 0px;
  margin-top: 0px;
}

.ui.fluid.image{
  padding-top: 0px;
}

.yellow-background{
  background-color: #d9af39;
  color: white;
}

.colorblocktop {
  padding-top: 20px;
}
